$k5next-petrol: (
  50: #e3edf0,
  100: #bad3d9,
  200: #8cb5c0,
  300: #5d97a6,
  400: #3b8193,
  500: #186b80,
  600: #156378,
  700: #11586d,
  800: #0e4e63,
  900: #083c50,
  A100: #85d7ff,
  A200: #52c7ff,
  A400: #1fb7ff,
  A700: #05aeff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
) !default;

$k5next-lightgray: (
  50: #fafafa,
  100: #f2f2f2,
  200: #e9e9e9,
  300: #e0e0e0,
  400: #dadada,
  500: #d3d3d3,
  600: #cecece,
  700: #c8c8c8,
  800: #c2c2c2,
  900: #b7b7b7,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #fff5f5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
) !default;

$k5next-blue: (
  50: #e4f2fe,
  100: #bce0fb,
  200: #90cbf9,
  300: #64b6f7,
  400: #42a6f5,
  500: #2196f3,
  600: #1d8ef1,
  700: #1883ef,
  800: #1479ed,
  900: #0b68ea,
  A100: #ffffff,
  A200: #e1ecff,
  A400: #aeccff,
  A700: #95bcff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$k5next-orange: (
  50: #fdeae1,
  100: #f9cab5,
  200: #f5a684,
  300: #f18253,
  400: #ee682e,
  500: #eb4d09,
  600: #e94608,
  700: #e53d06,
  800: #e23405,
  900: #dd2502,
  A100: #ffffff,
  A200: #ffd6d1,
  A400: #ffa89e,
  A700: #ff9285,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$k5next-yellow: (
  50: #fffce6,
  100: #fff8c0,
  200: #fff396,
  300: #ffee6c,
  400: #ffea4d,
  500: #ffe62d,
  600: #ffe328,
  700: #ffdf22,
  800: #ffdb1c,
  900: #ffd511,
  A100: #ffffff,
  A200: #fffef8,
  A400: #fff4c5,
  A700: #ffefac,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
